
.centered {
	margin-right: auto;
	margin-left: auto;
	align: center;
	text-align: center;
	vertical-align: middle;
}

.form-table th {
	padding: 0;
	width: auto;
}

.form-table th.centered {
	text-align: center;
}

.form-table td {
	padding: 3px 0px;
}

#assignment_buttons .button {
	margin-bottom: 10px;
}

#character_listing .h3 {
	margin-bottom: 0;
	margin-top: 0;
}
